
{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block content %}


<!-- <title>Ideas - Casa Criativa</title>
<body id="page-ideas"> -->
      
      <header>
            <a href="/">
                <img src="/logo.png" alt="imagem logo casa criativa">
            </a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" onclick="onOff()" class="button">New Idea</a></li>
            </nav>
        </header>
    
        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
        </section>
    
        <main>
            <section id="ideas">
                {% include "all_ideas.html" %}
            </section>
        </main>
    
        <footer>
            Com ❤️ <a href="http://eidm.com.br" target="_blank">EIDM</a>
        </footer>


{% endblock %}