<div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>

        <form action="">

            <div class="input-wrapper">
                <label for="title">Idea Title</label>
                <input type="text" name="title" id="title" placeholder="Qual é a sua idéia?">
            </div>
            <div class="input-wrapper">
                <label for="category">Category</label>
                <input type="text" name="category" id="category" placeholder="Categoria">
            </div>
            <div class="input-wrapper">
                <label for="image">Image</label>
                <input type="url" name="image" id="image" placeholder="URL da imagem">
            </div>
            <div class="input-wrapper">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Descreva sua idéia"></textarea>
            </div>
            <div class="input-wrapper">
                <label for="link">Idea Link</label>
                <input type="url" name="link" id="link" placeholder="URL Idea">
            </div>
            <a id="back" href="#" onclick="onOff()">Voltar</a>
            <button>Adicionar</button>
        </form>
    </div>
</div>